.chartCard {
  .barChartWrap {
    position: relative;
    width: 100%;
    height: 246px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #edeff2;
    .infoShow {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px 20px;

      .inputWrap {
        text-align: right;

        .label {
          font-family: PingFang SC;
          font-size: 12px;
          font-weight: normal;
          color: #909399;
        }
        .value {
          font-family: PingFang SC;
          font-size: 16px;
          font-weight: 500;
          color: #303133;
        }
      }
    }
    .editPrice {
      padding: 30px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
    }
  }
  .pairTitle {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
    color: #303133;
    margin-bottom: 20px;
    cursor: pointer;
  }
}

.chartContainer {
  background-color: var(--bg-color);
  width: 375px;
  height: 600px;
  border-radius: 12px;
  border: 1px solid var(--border-color);
}

.chartHead {
  height: 60px;
  border-bottom: 1px solid var(--border-color-2nd);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.chartTitle {
  font-size: 18px;
  font-weight: 500;
}

.chartDone {
  cursor: pointer;
  color: #1e2bff;
  font-size: 16px;
  font-weight: 500;
}

@media only screen and (max-width: 767.99px) {
  .chartContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    border-radius: 0;
  }
}
